$def with ()

<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Agregar estudiante</title>

</head>

<body>

<h1>Agregar estudiante</h1>

<form action="/agregar" method="POST">

    <p>
        <input
            type="text"
            name="matricula"
            placeholder="Matrícula"
        >
    </p>

    <p>
        <input
            type="text"
            name="nombre"
            placeholder="Nombre"
        >
    </p>

    <p>
        <input
            type="text"
            name="carrera"
            placeholder="Carrera"
        >
    </p>

    <p>
        <input
            type="text"
            name="tramite"
            placeholder="Tipo de trámite"
        >
    </p>

    <button type="submit">
        Agregar a la fila
    </button>

</form>

<br>

<a href="/">Volver al inicio</a>

</body>

</html>